* {
    font-family: Arial, sans-serif;
}

.main_container {
    width: 100%;
    background: #f1f1f1;
}

form {
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 3%;
}
input[type=search] {
    background: #f1f1f1;
    border: none;
    display: inline-block;
    color: #c2c2c2;
    height: 20%;
    display: inline-block;
    width: 60%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[placeholder] {
    font-size: 7em;
}
button[type=submit] {
    display: inline-block;
    background-color: #f1f1f1;
    border: none;
    display: inline-block;
    background-image: url(/images/favicon.png);
    width: 20%;
    background-repeat: no-repeat;
    height: 25%;
    background-position: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 1%;
}

.middle {
    width: 80%;
    margin-left: 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

ul {
    font-size: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}

.people, .popular, .recent {
    display: inline-block;
    width: 28%;
    height: 100%;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 4%;
}
li {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    margin: 1%;
}
span {
    display: inline-block;
    width: 60%;
}
img {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1%;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #c2c2c2;
    background: rgba(118,117,128,0.05);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
a:hover {
    background: rgba(118,117,128,0.1);
    color: #ec5a62;
}
.people img {
    border-radius: 90%;
}
