* {
    font-family: Arial, sans-serif;
}

.main_container {
    width: 100%;
    background: #f1f1f1;
}

.search {
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.middle {
    width: 80%;
    background: #c1c1c1;
    margin-left: 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    font-size: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}
.people, .popular, .recent {
    display: inline-block;
    width: 28%;
    height: 100%;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 3.5%;
}
li {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}
span {
    display: inline-block;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #c2c2c2;
    background: #f8f8f9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
a:hover {
    background: #f1f1f2;
}
.people img {
    border-radius: 90%;
}
